<ion-header>
  <ion-navbar>
    <ion-title *ngIf="currentApplication">{{ currentApplication.name }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="edit()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="currentApplication">
    <ion-card>
      <ion-card-header>
        <ion-icon name="contact"></ion-icon>
        Login
      </ion-card-header>
      <ion-card-content>
        test
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-icon name="lock"></ion-icon>
        Mot de passe
      </ion-card-header>
      <ion-card-content>
        {{ displayedPassword }}
        <button type="button" ion-button block (click)="tooglePasswordVisibility()">
          {{ passwordIsVisible ? 'Masquer' : 'Voir' }}
        </button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-icon name="information-circle"></ion-icon>
        Infos
      </ion-card-header>
      <ion-card-content>
        Mot de passe créé le {{ currentApplication.credentials.creationDate | date: 'dd/MM/yyyy' }}
        <div *ngIf="currentApplication.credentials.lastModified != null">
          Pas modifié depuis le {{ currentApplication.credentials.lastModified | date: 'dd/MM/yyyy' }}
        </div>
        <div *ngIf="currentApplication.credentials.lastModified == null">
          Jamais modifié
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>