<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-icon name="options"></ion-icon>
      Règles
    </ion-card-header>

    <ion-card-content>
      <div padding>
        <ion-segment [(ngModel)]="alphabetMode">
          <ion-segment-button value="simple">
            Simple
          </ion-segment-button>
          <ion-segment-button value="custom">
            Personnalisé
          </ion-segment-button>
        </ion-segment>
      </div>

      <div [ngSwitch]="alphabetMode">
        <ion-list *ngSwitchCase="'simple'">
          <ion-item>
            <ion-label>Lettres majuscules [A-Z]</ion-label>
            <ion-checkbox
              [(ngModel)]="generatorOptions.upperCase"
            ></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Lettres minuscules [a-z]</ion-label>
            <ion-checkbox
              [(ngModel)]="generatorOptions.lowerCase"
            ></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Chiffres [0-9]</ion-label>
            <ion-checkbox [(ngModel)]="generatorOptions.numbers"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Caractères spéciaux</ion-label>
            <ion-checkbox [(ngModel)]="generatorOptions.special"></ion-checkbox>
            <button
              ion-button
              outline
              item-end
              icon-start
              (click)="showSpecialCharsList()"
            >
              <ion-icon name="list"></ion-icon>
              Liste
            </button>
          </ion-item>
          <ion-item>
            <ion-label>Liste additionnelle</ion-label>
            <ion-checkbox [(ngModel)]="hasAdditionnal"></ion-checkbox>
            <button
              ion-button
              outline
              item-end
              icon-start
              *ngIf="hasAdditionnal"
              (click)="showCustomList(customListTypes.additional)"
            >
              <ion-icon name="create"></ion-icon>
              Définir
            </button>
          </ion-item>
          <ion-item>
            <ion-label>Liste d'exclusion</ion-label>
            <ion-checkbox [(ngModel)]="hasExclusion"></ion-checkbox>
            <button
              ion-button
              outline
              item-end
              icon-start
              *ngIf="hasExclusion"
              (click)="showCustomList(customListTypes.excluded)"
            >
              <ion-icon name="create"></ion-icon>
              Définir
            </button>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-item>
            <ion-label>Longueur</ion-label>
            <ion-input
              type="number"
              name="passwordLength"
              [(ngModel)]="generatorOptions.length"
            ></ion-input>
          </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'custom'">
          <ion-item>
            <ion-label floating>Alphabet</ion-label>
            <ion-input type="text" name="alphabet"></ion-input>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-item>
            <ion-label>Longueur</ion-label>
            <ion-input
              type="number"
              name="passwordLength"
              [(ngModel)]="generatorOptions.length"
            ></ion-input>
          </ion-item>
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item>
      <button ion-button block>Générer</button>
    </ion-item>
  </ion-list>
</ion-content>
